<h2>Edit content of '<%= @file_name %>'</h2>
<form action="/<%= @file_name %>/save" method="POST">
    <%# !! Keep textarea on one line as it will render any spaces between the tags !! %>
    <textarea name='edited_text' rows="20", cols="100" autofocus><%= @file %></textarea>
  <button type='submit'>Save Changes</button>
</form>