<form action="/users/login" method="post">
  Username:<br>
  <input class="inline-block" name="user_name" value="<%= @user_name %>">
  Password:<br>
  <input class="inline-block" name="password" value="<%= @password %>">
  <button type="submit">Log In</button>
</form>

<p>Don't have a user? You can <a href="/users/sign_up">sign up</a> here</p>