<form action="/users/sign_up" method="post">
  Choose a username:<br>
  <input class="inline-block" type="text" name="new_user_name" placeholder="User Name">
  Choose a password:<br>
  <input class="inline-block" type="text" name="new_password" placeholder="Password">
  <button type="submit">Sign Up</button>
</form>